[submodule ".themes/FoxSlide"]
	path = .themes/FoxSlide
	url = git://github.com/octothemes/lavendar.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
